<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-img id="" src="../../assets/img/Learngaming2.png" alt=""></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <p> 
      <ion-item lines="full" border="none">
        <ion-label position="floating">Correo</ion-label>
        <input type="text" formControlName="email" name="email" />



      </ion-item>
      <ion-item lines="full" border="none">
        <ion-label position="floating">Contraseña</ion-label>
        <input type="password" formControlName="password" name="password">
      </ion-item>
    </p>
   
    <p>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="success" expand="block">Sign In</ion-button>
          <ion-button expand="full" href="pasword" color="tertiary">Recuperar contraseña</ion-button>
        </ion-col>
      </ion-row>
    </p>
   
  </form>

  <div id="container">
    <ion-button  href="register" color="tertiary">Crear una cuenta</ion-button>
  </div>
</ion-content>