<ion-header [translucent]="true" class="header-background">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img id="" src="../../assets/img/Learngaming2.png" alt=""></ion-img>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Adivina la palabra
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
            <ion-row>
                <ion-col size="12" class="word">
                  <ion-item lines="none">
                    <ion-label class="letter" *ngFor="let letter of letters; let i = index">{{ inputColors[i] === 'light' ? '_' : letter }}</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
    
          <ion-row>
            <ion-col size="12" class="details">
              <ion-item lines="none">
                <ion-label>Pista: {{ word.hint }}</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Numero de intentos disponibles:</ion-label>
                <ion-label>{{ guessesLeft }}</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Letras incorrectas:</ion-label>
                <ion-label>{{ wrongLetters }}</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-input [(ngModel)]="guess"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6" class="button-col">
              <ion-button color="primary" expand="block" (click)="checkGuess()">Adivinar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-button color="secondary" expand="block" (click)="reset()">Reiniciar Juego</ion-button>
  </ion-content>
  