.header-background {
  background-color: #fff;
  ion-toolbar {
    ion-buttons {
      margin-right: 10px;
    }
    ion-img {
      max-height: 30px;
      width: auto;
      margin-left: 10px;
    }
  }
}
ion-header {
  --ion-safe-area-top: 0px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  ion-toolbar {
    --background: none;
    --border-color: none;
    ion-buttons {
      ion-icon {
        font-size: 28px;
        color: #333;
      }
    }
    ion-img {
      max-width: 150px;
      height: auto;
      margin: 0 0 0 10px;
    }
  }
}
ion-card {
  margin: 20px;
  ion-card-header {
    background-color: rgb(38, 38, 168);
    ion-card-title {
      font-size: 28px;
      text-align: center;
      color: #fff;
      font-weight: bold;
    }
  }
  ion-card-content {
    ion-grid {
      ion-row {
        .word {
          ion-item {
            ion-label {
              display: block;
              text-align: center;
              font-size: 12px;
              font-weight: bold;
              text-transform: uppercase;
              .letter {
                display: inline-block;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                margin: 5px;
                background-color: #f2f2f2;
                border-radius: 50%;
              }
            }
          }
        }
        .details {
          ion-item {
            ion-label {
              display: block;
              font-size: 16px;
              font-weight: bold;
              text-transform: uppercase;
              &:first-child {
                margin-bottom: 5px;
              }
            }
          }
        }
      }
      ion-row:last-child {
        .button-col {
          ion-button {
            width: 100%;
          }
        }
      }
    }
  }
}

ion-button {
  margin: 10px;
}

ion-card-content{
  background-image: url('../../assets/videos/game.gif');
  margin: 0 auto;
}