<ion-header [translucent]="true" class="header-background">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img id="" src="../../assets/img/Learngaming2.png" alt=""></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding juego-page page-background">
  <ion-grid>
    <ion-row class="ion-align-items-center" style="align-items: center;">
      <ion-col class="ion-padding">
        <ion-slides>
          <ion-slide class="quiz-slide slide-enter-active" *ngFor="let question of questions">
            <ion-card class="ion-align-items-center">
              <ion-card-header>
                <img [src]="question.image" *ngIf="question.image" style="max-width: 30%;" />
                <video [src]="question.video" *ngIf="question.video" style="max-width: 30%;" controls></video>
                <ion-card-title>{{ question.question }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-radio-group [(ngModel)]="question.selectedAnswer">
                    <ion-item>
                      <ion-label>{{ question.option1 }}</ion-label>
                      <ion-radio [value]="1"></ion-radio>
                    </ion-item>
                    <ion-item>
                      <ion-label>{{ question.option2 }}</ion-label>
                      <ion-radio [value]="2"></ion-radio>
                    </ion-item>
                    <ion-item>
                      <ion-label>{{ question.option3 }}</ion-label>
                      <ion-radio [value]="3"></ion-radio>
                    </ion-item>
                    <ion-item>
                      <ion-label>{{ question.option4 }}</ion-label>
                      <ion-radio [value]="4"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
        <ion-button expand="block" (click)="submitQuiz()">Enviar respuestas</ion-button>
        <ion-item>
          <ion-label>Puntaje:</ion-label>
          <ion-text>{{ score }}/{{ questions.length }}</ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>