<ion-header [translucent]="true">
  <ion-toolbar>
  
   
    <ion-buttons slot="end">
      <ion-button (click)="goToLoginPage()">
        Iniciar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content fullscreen="true">
  <div class="content">
    <ion-img id="logo" src="../../assets/img/logo.png" alt="logo"></ion-img>
    <p>Esta aplicación movil fue creada
      para capacitar por medio de la
      gamificación a los estudiantes de la
      escuela de ciencias las distintas
      modalidades de grado del Instituto
      Universitario de la Paz</p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-img id="logo" src="../../assets/img/learn.png" alt=""></ion-img>
  </ion-toolbar>
</ion-footer>





